{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
header{
width: 100%;
height: 100vh;
background: url('images/imgbg1.jpeg');
background-size: cover;
}   

nav{
width: 100%;
height: 50px;
align-items: center;
top: 5px;
display: flex;

}

.logo{
height: 5%;
width: 5%;
margin: 20px;
}

.logo img{
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
top: -1px;
left: 30px;
}

.menu h1{

color: white;
font-size: 40px;
margin-right: 110px;
margin-bottom: 20px;
}

.menu2 a{
text-decoration: none;
color: white;
padding: 20px 20px;
font-size: 20px;
position: relative;
margin-left: 80px;
margin-bottom: 30px;
align-items: center;
justify-content: space-around;

}

.menu2 a:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0%;
height: 100%;
border-bottom: 2px solid rgb(65, 214, 240);
transition: 0.4s linear;
}

.menu2 a:hover:before{
   width: 90%;
}

.sign-up a{
text-decoration: none;
color: white;
padding: 10px 20px;
font-size: 20px;
position: absolute;
top: 1.5%;
right: 5%;
background:  #7690da;
border-radius: 8px;
transition: 0.4s;
}
.sign-up a:hover{
background: transparent;
border: 1px solid  #7690da;
}

/*end of the navigation*/
.h-txt{
max-width: 650px;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
color: white;
}
.h-txt span{
letter-spacing: 4px;
font-size: 2em;
top: 35%;
}
.h-txt h2{
font-size: 5em;
}    

/*Search bar*/
.container .input{
border: 0;
outline: none;
color: #8b7d77;
}

.search_wrap{
width: 500px;
height: 60px;
}

.search_wrap .search_box .input{
position: absolute;
top: 65%;
right: 35%;
width: 30%;
height: 5%;
padding: 10px 20px;
border-radius: 3px;
font-size: 18px;
}

.search_wrap .search_box .btn{
position: absolute;
top: 50%;
right: 0;
width: 60px;
height: 100%;
background: #7690da;
z-index: 1;
cursor: pointer;
}
.search_wrap .search_box .btn:hover{
background: indianred;

}
   
.search_wrap .search_box .btn{
width: 125px;
height: 45px;
top: 65.5%;
right: 35.5%;
border-radius: 3px;
color: white;
display: flex;
align-items: center;
justify-content: center;
}
/*end of search bar*/



.music_grid{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 margin-top: -2%;
 background: url('images/imgbg2.jpg');
 background-size: cover;
}
.music_card{
 height: 10%;
 width: 20%;
 margin: 20px;
 margin-top: 170px;
 box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
 grid-row-gap: 1px;  
 background-color: white;
}
.music_card img{
 width: 100%;
}

div .music_card:hover{
 filter: grayscale(1);
 transform: scale(1.03);
}

.card_content{
 padding: 0px;
}
.music-card h2{
 margin-bottom: 0.5rem;
 margin-top: 0px;
 font-size: 1.2rem;
 font-weight: 600;
 color: var(--text-dark);
}
.music-card h3{
 margin-bottom: 0.5rem;
 margin-top: 0px;
 font-size: 1.2rem;
 font-weight: 600;
 color: var(--text-dark);
}

.row{
 display: flex;
 flex-wrap: wrap;
}
.music-name{
 text-align: center;
 text-transform: capitalize;
}
/*end of my playlist*/

.top-artist{
 background: url('images/imgbg3.jpg');
 background-size: cover;
}

.top-artist img{
 height: 10%;
 width: 10%;
 margin-top: 10%;
 padding: 15px ;
 border-radius: 50%;
 border: white;
}
.top-artist img:hover{
 transform: scale(1.03);
}
.top-artist h1 {
 letter-spacing: 3px;
 font-size: 2em;
margin-left: -80%;
 color: white;
}

.about{
 letter-spacing: 4px;
 font-size: 1.5em;
}
.about h1{
 font-size: 2em;
 color: white;
}
.about p{
 letter-spacing: 3px;
 font-size: 1em;
 color: bisque;
}
/*end of top-artist*/

header .master_play{
width: 100%;
height: 10%;
background: white;
box-shadow: 0px 3px 8px gray;
}

header .master_play{
display: flex;
align-items: center;
padding: 0px 20px;
margin-top: 35%;
position: sticky;

}
header .master_play .wave{
width: 30px;
height: 30px;
border: 1px solid black;
padding-bottom: 5px;
display: flex;
align-items: flex-end;
margin-right: 10px;
}
header .master_play .wave .wave1{
width: 3px;
height: 10px;
background: #36e2ec;
margin-right: 3px;
border-radius: 10px 10px 0px 0px;
animation: wave 0.5s linear infinite;
}

header .master_play .wave .wave1:nth-child(2){
height: 13px;
margin-right: 3.5px;
animation-delay: 0.4s
}

header .master_play .wave .wave1:nth-child(3){
height: 8px;
animation-delay: 0.8s;
}

header .master_play .active1 .wave1{
animation: wave 0.5s linear infinite;
}


header .master_play .wave .wave1:nth-child(2){
animation-delay: 0.4s;
}

header .master_play .active1 .wave .wave1:nth-child(3){
animation-delay: 0.8s;
}

@keyframes wave{
0%{
 height: 10px;
}
50%{
 height: 15px;
}
100%{
 height: 10px;
}
}

header .master_play .bar{
position: relative;
width: 43%;
height: 2px;
background: rgb(105, 105, 107, 0.1);
margin: 0px 15px 0px 10px;
}
header .master_play .bar .bar2{
 position: absolute;
 background: #36e2ec;
 width: 50%;
 height: 100%;
 top: 0;
 transition: 1s linear;
}
header .master_play .bar .dot{
 position: absolute;
 width: 5px;
 height: 5px;
 background: #36e2ec;
 border-radius: 50%;
 left: 0%;
 top: -1.5px;
 transition: 1s linear;
}

header .master_play .bar .dot::before{
 content: '';
 position: absolute;
 width: 15px;
 height: 15px;
 border: 1px solid #36e2ec;
 border-radius: 50%;
 left: -7px;
 top: -6.5px;
 box-shadow: inset 0px 0px 3px #36e2ec;
}

header .master_play .bar input{
 position: absolute;
 width: 100%;
 top: -7px;
 left: 0;
 cursor: pointer;
 z-index: 99999999999999999999999999999999999999999999999;
 opacity: 0;
}
header .icon img{
 width: 25px;
 height: 25px;
 margin-top: auto;
}

.icon{
display: flex;
width: 298px;
height: 60px;
position: relative;
margin-top: -25px;
margin-left: 35px;
padding: 10px;
}    

.add-songs a{
text-decoration: none;
color: black;
padding: 5px 10px;
font-size: 20px;
position: absolute;
top: 20%;
right: 15%;
background:  #7690da;
border-radius: 8px;
transition: 0.4s;
}
.add-songs a:hover{
background: rgb(76, 195, 76);
}

.del-songs a{
text-decoration: none;
color: black;
padding: 5px 10px;
font-size: 20px;
position: absolute;
top: 20%;
right: 5%;
background:  #7690da;
border-radius: 8px;
transition: 0.4s;
}
.del-songs a:hover{
background: red;
}

/*end of master play*/

#progress{
font-size: 50px;margin-top:30px;
width: 250px;
margin-left: 60px;
height: 5px;
margin-top: 100px;
-webkit-appearance: none;
}
#progress::-webkit-slider-thumb{
-webkit-appearance: none;
width: 15px;
height: 15px;
border-radius: 50%;
background:#f53192;
box-shadow: 0px 0px 5px 5px #ffffff;
border: #18293d;
}


.footer-container{
margin: auto;
background-color: black;
position: relative;
max-width: 2200px;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
padding: 40px 0px;
width: 100%;
height: 25%;
}
.footer-col{
width: 15%;
padding: 0 10px;
height: 20%;
}
.footer-col h4{
font-size: 16px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 30px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0%;
height: 100%;
border-bottom: 2px solid rgb(171, 47, 47);
transition: 0.4s linear;
}
.footer-col h4:hover:before{
width: 100%;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 10px;
}
.Contact h4{
font-size: 16px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 30px;
font-weight: 500;
position: relative;
}
.Contact h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
margin: auto;
}

.footer-col .social-icons img{
border-radius: 20%;
margin-top: 2%;

}
.footer-col .social-icons img:hover{
transform: scale(1.20);
}
/*end of footer*/